@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: .1em;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/*Header definitions*/
header {
    width:100%;
    background-color: #7ec3cc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contactInfoHdr{
}

img.logoHeader {
    align-self:flex-start;
    width: 100%;
    max-width: 15em;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    
}


.siteNavigation {
    list-style: none;
}

.siteNavigation li:first-child {
    display: block;
}

.siteNavigation li {
    display: none;
}

.socialMedia {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.siteNavigation a,
.socialMedia li {
    font-style: italic;
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.socialMedia a {
    color: #000000;
}

.siteNavigation a.menuHamburger::before {
    content: " = ";
    font-size: 2em;
}

.siteNavigation a:hover {
    color: white;
    background-color: #3d757d;
}

.changeMenuResp li {
    display: block;
}

.changeMenuResp a.menuHamburger::before {
    content: " X ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 50em) {
    .siteNavigation {
        display: flex;
    }

    .siteNavigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .siteNavigation a {
        text-align: center;
    }

    .siteNavigation li:first-child {
        display: none;
    }
}

.describeSocial {
    display: none;
}

.watchingDate {
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #3d757d;
}

/*main definitions*/
/*========================*/

section {
    padding: 1em 1em 1em 1em;
}
.centerInfo img,
.leftInfo img,
.spotsection img {
    width: 100%;
    overflow: auto;
}

.imageInfo{
    position: relative;
    max-width: 100px;
    float: left;
    clear: left;
    top: 50%;
}

#join,
#sportlight3 {
    display: none;
    background-color: #7ec3cc;
    justify-self: stretch;
}

#event, #newsRelease{
    background-color: #7ec3cc;
    justify-self: stretch;
    height:  fit-content;
    min-height: 250px;
}

#weather{
    align-items: center;
    margin: 0 auto;
}

.spotsection{
    width: 100%;
    background-color: #7ec3cc;
    justify-self: stretch;
}
img.weatherimage {
   width: 75%;
   background-color: #7ec3cc;
}
 

.centerInfo,
.leftInfo,
.spotsection {
    position: relative;
    text-align: center;
}

.sectionInfo{
    text-align: center;
    width: 100%;
}
.titleInfo {
    position: absolute;
    top: .5em;
    width: 100%;
}
.textInfo {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bubbleLink {
    position: absolute;
    background-color: #3d757d;
    color: #ffffff;
    border-radius: .5em;
    padding: .8em;
    text-decoration: none;
    bottom: .5em;
    right: 1em;
}

.bubbleImg {
    position: absolute;
    width: 7%;
    max-width: 70px;
    background-color: transparent;
    border-radius: 50%;
    padding: 1em;
    top: .2em;
    left: .7em;
}
 

/*==================*/
/*fotter definitions*/
footer {
    width:100%;
    margin-top: 40px;
    font-size: .9em;
    background-color: #7ec3cc;
    text-align: center;
}

.logoFooter {
    width: 10rem;
    height: auto;
}

footer li {
    list-style-type: none;
}

.contactInfo,
.addressAndMail .developerInfo {
    text-align: center;
}

.developerInfo {
    font-style: italic;
}