@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    margin: 0em;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/*Header definitions*/
header {
    background-color: #7ec3cc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contactInfoHdr {}


img.logoHeader {
    align-self: flex-start;
    width: 100%;
    max-width: 15em;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 1em;
}


.siteNavigation {
    list-style: none;
}

.siteNavigation li:first-child {
    display: block;
}

.siteNavigation li {
    display: none;
}

.socialMedia {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.socialLogo {
    width: 1em;
    border: 3px solid #15434a;
    border-radius: 25%;
}

.siteNavigation a,
.socialMedia li {
    font-style: italic;
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.socialMedia a {
    color: #000000;
}

.siteNavigation a.menuHamburger::before {
    content: " = ";
    font-size: 2em;
}

.siteNavigation a:hover {
    color: white;
    background-color: #3d757d;
}

.changeMenuResp li {
    display: block;
}

.changeMenuResp a.menuHamburger::before {
    content: " X ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 50em) {
    .siteNavigation {
        display: flex;
    }

    .siteNavigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .siteNavigation a {
        text-align: center;
    }

    .siteNavigation li:first-child {
        display: none;
    }
}

.describeSocial {
    display: none;
}

.watchingDate {
    width: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #3d757d;
}

#bannerInfo {
    background-color: #15434a;
    color: #ffffff;
    font-size: 2em;
    width: 100%;
    padding: 1em;
    display: none;
}

/*main definitions*/
/*========================*/
main {
    padding: 1em 1em;
}

#welcomeimage {
    width: 100%;
}

.centerInfo img,
.leftInfo img,
.spotsection img {
    width: 100%;
    overflow: auto;
}
.spotsection img {
    max-width: 70px;
    overflow: auto;
}
.imageInfo {
    position: relative;
    max-width: 100px;
    float: left;
    clear: left;
    top: 50%;
}

#join,
#sportlight3 {
    display: none;
    background-color: #7ec3cc;
    justify-self: stretch;
}

#spotLite {
    padding: .5em;
    background-color: #3d757d;
}

#event,
#newsRelease {
    background-color: #7ec3cc;
    justify-self: stretch;
    height: fit-content;
    min-height: 320px;
}

#leftSection {
    height: 100%;
    padding-right: .5em;
}

#weather {
    align-items: center;
    padding: .5em;
    height: 100%;
    background-color: #15434a;
    color: #ffffff;
}

.spotsection {
    width: 100%;
    background-color: #7ec3cc;
    justify-self: stretch;
    padding-top: 1em;
}

img.weatherimage {
    width: 75%;
}


.centerInfo,
.leftInfo,
.spotsection {
    position: relative;
    text-align: center;
}

.sectionInfo {
    text-align: center;
    width: 100%;
}

.titleInfo {
    position: absolute;
    top: .5em;
    width: 100%;
}

.textInfo {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bubbleLink {
    position: absolute;
    background-color: #3d757d;
    color: #ffffff;
    border-radius: .5em;
    padding: .8em;
    text-decoration: none;
    bottom: .1em;
    right: 1em;
}

.bubbleImg {
    position: absolute;
    width: 7%;
    max-width: 70px;
    background-color: transparent;
    border-radius: 50%;
    padding: 1em;
    top: .2em;
    left: .7em;
}



/*discover options*/
.cityTownList {
    width: auto;
}

.cityDescription h2 {
    padding-top: 1em;
}

.imageCity {
    width: 100%;
    border: 2px solid #15434a;
    box-shadow: .1em .1em .8em .1em #15434a;
    border-radius: 10%;
}

.imageCity img[data-src] {
    filter: blur(0.2em);
}

.imageCity img {
    filter: blur(0em);
    transition: filter 1s;
}

.lastVisit {
    background-color: #15434a;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

.fieldDescription {
    font-size: .9em;
    font-weight: bold;
}

.formResults {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
}

.companyStyle {
    margin: 10px;
    width: 100%;
    max-width: 200px;
    border: 2px solid #15434a;
    box-shadow: .1em .1em .8em .1em #15434a;
    text-align: center;
    padding: 10px;
    
}

.companyStyle img {
    width: 100%;
    max-width: 150px;
}


/*==================*/
/*fotter definitions*/
footer {
    margin-top: 0px;
    font-size: .9em;
    background-color: #7ec3cc;
    text-align: center;
}

.logoFooter {
    width: 10rem;
    height: auto;
    padding: 1em;
}

footer li {
    list-style-type: none;
}

.contactInfo,
.addressAndMail .developerInfo {
    text-align: center;
}

.developerInfo {
    font-style: italic;
}