@media (min-width: 32.5em) and (max-width: 50em) {
    main {
        display: flex;
        flex-direction: column;
    }
    .spotLite{
        display: flex;
        flex-direction: row;
    }
    #calltoAction{
        order: 1;
    }
    #newsRelease{
        order:2;
    }
    #spotLite{
        order: 3;
    }
    #join {
        order: 4;
        display: block;
    }
    #leftSection{
        display: flex;
        order: 6;
    }

    .developerInfo {
        border-top: 1.5px solid #15434a;
        padding-top: 1em;
        display: flex;
        flex-wrap: wrap;
    }

    .developerInfo li {
        border-right: 1.5px solid #15434a;
        padding-right: 1em;
    }

    .siteNavigation {
        flex-direction: row;
    }

}
