/* Small/Phone View ***************/
.UpperMenu {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.siteNavigation {
	list-style: none;
}
.siteNavigation li:first-child {
	display: block;
}
.siteNavigation li {
	display: none;
}
.siteNavigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.siteNavigation a.menuHamburger::before {
	content: "🍔 ";
}

.siteNavigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.siteNavigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="siteNavigation responsive">
*/
.responsive li {
	display: block;
}

.responsive a.menuHamburger::before {
	content: "❌ ";
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.sitesiteNavigation {
		display: flex;
	}
	.sitesiteNavigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.sitesiteNavigation a {
		text-align: center;
	}
	.sitesiteNavigation li:first-child {
		display: none;
	}
}