@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 5px;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}

header{
    background-color: #7ec3cc;
    display: flex;
    flex-wrap: wrap;
}

main{
    display: flex; 
}
 
.centerInfo, .leftInfo,  .spotsection {
    position: relative;
    text-align: center;
    border: .5em solid #000000; 
}

.titleInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #ffffff;
    padding: 1em;
}

.describeSocial{
    display: none;
}

.logoHeader {
    width: 20rem;
    height: auto;
}
.centerInfo img, .leftInfo img, .spotLite img{
    width: 100%;
}
footer {
    margin-top: 40px;
    font-size: .7em;
    background-color: #7ec3cc;
}
header ul, footer ul {
    list-style-type: none;
}
.siteNavigation{
    display: flex;
}
.socialMedia{
    display: flex;
    font-size: 2rem;
}
.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logoFooter {
    width: 10rem;
    height: auto;
}
.developerInfo {
    font-style: italic;
}

.UpperMenu{
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    border: 1px dotted #000000;
}

.UpperMenu li{
    flex: 1 1 auto;
}

.sociallogo{
    color: #ffffff;
}

/*nav{
    background-color: #3d757d;
}*/
nav a:link, nav a:visited {
    text-decoration: none; 
    color: #ffffff;
    font-weight: bold;
    width: max-content;
    font-size: large; 
}

nav a:active, nav a:hover {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    text-decoration: none;
    font-style: italic;
    background-color: #3d757d;
    color: #ffffff;
    width:fit-content;
}


/*

img {
    max-width: 100%;
}

.colores-table{
    height: 100px;
    width:100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    text-align: center;
    flex-grow: 1;
    align-content: space-evenly;
    flex-shrink: 1;
}
.color1, .color2, .color3, .color4, .color5, .color6, .color7{
    width:15%;
    padding-top: 1em;
}
.color1{

    background-color: #3d757d;
    color: #ffffff;
}
 
.color2{
    background-color: #55838a;
    color: #ffffff;
}
.color3{
    background-color: #7ec3cc;
    color: #000000;
}
.color4{
    background-color: #9df1fc;
    color: #000000;
}
.color5{
    background-color: #15434a;
    color: #ffffff;
}
.color6{
    background-color: #ffffff;
    color: #000000;
}
.color7{
    background-color: #000000;
    color: #ffffff;
}
 
*/

/*small
@media (max-width: 32.5em) {
    .UpperMenu {
        flex-direction: column;
    }
    section img{
        max-width:100%; 
    }
    .colores-table{
        flex-direction: column;
    }
}*/

/*medium
@media (min-width: 32.5em) and (max-width: 50em) {
    .UpperMenu {
        flex-direction: row;
    }
    section img{
        max-width:45%; 
    }
}*/

/*large
@media (min-width: 51em) {
    .UpperMenu {
        flex-direction: row;
    }
    section img{
        max-width:25%; 
    }
}

*/