main {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.misgatos {
    width: 200px;
    max-width: 100%;
}

img.misgatos {
    filter: blur(0.2em);
}

 img[data-src].misgatos {
    filter: blur(0em);
    transition: filter 0.5s;
}
