main {
    text-align: center;
    display: flex;
    flex-direction: column;
} 

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    width: 200px;
    filter: blur(0em);
    transition: filter 0.5s;
} 